.fronthover{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    /* opacity:0; */
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    /* transition: all 0.3s ease-in-out; */
    box-sizing: border-box;
}

.sam-card{
    background-color: linear-gradient(90deg, #2BC0E4, #0F3443);
}
/* .front:hover .fronthover{
    opacity: 1;
} */

