    body{
        background-color:#EAf6f6;
    }
    hr{
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        width: 5%;
    }
    h1{
        color:#66BFBF;
    }
    h1:hover{
        color: greenyellow;
    }
    h3{
        color:#66BFBF;
    }
    img{
        background-color: black;
    }
    
    .library{
        height: 500px;
        width: 1000px;
    }

    .rettner{
        background-color: white;
    }

    .circular{
        border-radius: 100%;
    }