html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, #34E89E, #0F3443);
  background-attachment:fixed;
  color: #eee;
}
.container{
  padding-left: 8%;
  display: grid;
  grid-template-columns: 600px min-content 1fr;
  gap: 1rem;
  align-items: center;
}
.aboutBody{
  font-size: 1.5rem;
  width: 600px;
  align-items: center;
}

.subTitle{
  font-size: 3rem;
}

.intro{
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 4rem;
  padding-top: 20%;
  margin-bottom: 25%;
  color: #0F3443;
}

.left{
  padding-left: 8%;
}

.name{
  color: #eee;
}

.positions{
  font-size: 3rem;
}

footer{
  text-align: center;
}

.reveal{
  background-color: linear-gradient(#00dffc 0 0), linear-gradient(#00dffc 0 0);
  background-size: 0 100%;
  background-position: 0 0;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  box-decoration-break: clone;
  animation: sam 1.2s 0.5s both, b 1.2s 1.3s both;
}

@keyframes sam {
  to {
    background-size: 150% 100%;
  }
}
@keyframes b {
  to {
    background-position: -200% 0, 0 0;
  }
}
