body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face{
  font-family: "Playfair Display";
  src: url(../src/fonts/PlayfairDisplay-SemiBold.woff2) format('woff2');
  font-weight:600;
  font-style:normal;
  color: #eee;
}

@font-face{
  font-family: "Roboto";
  src: url(../src/fonts/Roboto-Regular.woff2) format('woff2');
  font-weight:400;
  font-style:normal;
  color: #eee;
}
